body    {
    margin: 0 ; 

}
@font-face{
    font-family: Blitzwing;
    src: url(../fonts/blitzwing.otf);
}
@font-face {
    font-family: rockoflf;
    src: url(../fonts/rockoflf.ttf);
}
.navbarbuttonscontainer{
   height: 13vh;
    display: flex;
    justify-content: center;

}

.navbarbuttons{
    font-family: rockoflf;
    font-size: large;
    letter-spacing: 1px;
    font-weight:700;
    flex: 1;
    background: none;
    outline: none;
    box-shadow: none;
}

.matchmaker{
    letter-spacing:2px;
    font-family: blitzwing;
    font-size:4rem;
    font-weight: normal;
    flex: 3;
    background-color: #ffffff;
    padding-bottom: 1rem;
}

.dashboard{
    background-color: #f7eded;
}

.login{
    background-color: #fff3f2;
}

.signup{
    background-color: #ffb4b4;
}

.maker{
    color: #ffb1b1;
    
}